.App {
  text-align: center;
  min-height: 100%;
  background-size: cover;

  background-image: url('./resources/img/background.png');
}

#Site-content{
  min-height: calc(87vh - 100px);
}

#non-homepage{
   margin-bottom: 7.5%;
}

#login-signup{
  margin-bottom: 1.5%;
}

#categories{
  padding-top: 6%;
}

#profile{
  padding-top: 5%;
}
